/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.clr {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}






/*sec1 for Hero Section*/
.sec1 {
    padding: 80px 24px;
    width: 80%;
    margin: auto;
}

.sec1half1 {
    width: 65%;
    float: left;
    padding-right: 48px;
}

.sec1half2 {
    width: 35%;
    float: left;
}

.sec1button {
    margin: 10px;
}

.classbutton {
    width: 50%;
    float: left;
}

.sec1half1 h1 {
    font-size: 70;
    margin-bottom: 24px;
}

.sec1half1 p {
    font-size: 25;
    margin-bottom: 20px;
    color: oklch(55.1% .027 264.364);
}

.sec1half2 div img {
    border-radius: 15px;
}







/*sec2 for Why Choose Us*/
.sec2 {
    text-align: center;
}

.sec2 h2 {
    font-size: 40;
    margin-bottom: 24px;
}

.sec2 div.describe {
    width: 60%;
    margin: auto;
}

.sec2 div.describe p {
    font-size: 25;
    color: oklch(55.1% .027 264.364);
    margin-bottom: 24px;
}

.outer {
    width: 33.333333%;
    float: left;
    display: flex;
    padding: 20PX;
}

.advantage1 {

    background-color: oklch(93.2% .032 255.585);
    padding: 32px;
    border-radius: 15px;
}

.square {
    width: 64px;
    height: 64px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 10px;
    overflow: auto;
}

.inside-square {
    width: 32px;
    height: 32px;
    background-color: white;
    margin: 16px;
    ;
    border-radius: 8px;
}

.inside-circle {

    width: 32px;
    height: 32px;
    background-color: white;
    margin: 16px;
    border-radius: 16px;

}

.advantage1 .square {
    background-color: blue;
}

.advantage2 .square {
    background-color: oklch(59.6% .145 163.225);
}

.advantage3 .square {
    background-color: oklch(55.8% .288 302.321);
}

.advantage1 h3 {
    font-size: 20;
    margin-bottom: 15px;
}

.advantage1 p.paragraph {
    font-size: 15;
    color: oklch(55.1% .027 264.364);
}

.advantage2 {
    background-color: oklch(95% .052 163.051);
    padding: 32px;
    border-radius: 15px;
}

.advantage2 h3 {
    font-size: 20;
    margin-bottom: 15px;
}

.advantage2 p.paragraph {
    font-size: 15;
    color: oklch(55.1% .027 264.364);
}

.advantage3 {
    background-color: oklch(94.6% .033 307.174);
    padding: 32px;
    border-radius: 15px;
}

.advantage3 h3 {
    font-size: 20;
    margin-bottom: 15px;
}

.advantage3 p.paragraph {
    font-size: 15;
    color: oklch(55.1% .027 264.364);
}

.sec2half {
    width: 50%;
    float: left;
    padding: 24px;
}

.sec2half img {
    border-radius: 15px;
}

.sec2half h3 {
    font-size: 35;
    text-align: left;
}

.sec2half div.paragraph {
    text-align: left;
    border-left: 5px solid black;
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
}

.sec2half div.paragraph h4 {
    font-size: 20;
    margin-bottom: 8px;
}

.sec2half div.paragraph p {
    font-size: 20;
    color: oklch(55.1% .027 264.364);
}






/*sec3 for Testmonials*/
.sec3{
    background-color: oklch(98.5% .002 247.839);
    padding-top: 48px;
}
.sec3 h2 {
    text-align: center;
    margin: 24px;
    font-size: 40px;
}

.sec3 p {
    text-align: center;
    color: oklch(55.1% .027 264.364);
    font-size: 20px;
    margin-bottom: 48px;
}
.member1 {
    background-color: oklch(97% .014 254.604);
}

.member2 {
    background-color: oklch(97.9% .021 166.113);
}

.member3 {
    background-color: oklch(97.7% .014 308.299);
}

.note {
    width: 85%;
    background-color: oklch(96.8% .007 247.896);
    border-radius: 10px;

}

.item {
    width: 25%;
    float: left;
}






/*sec4 for Membership Form*/
.sec4 {
    background-color: oklch(98.5% .002 247.839);
    padding: 48px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-name {
    width: 50%;
    float: left;
    padding-right: 20px;
}

.last-name {
    width: 50%;
    float: left;
    padding-left: 20px;

}

label {
    font-size: 20;
    color: oklch(37.3% .034 259.733);

}

input {
    display: block;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 20;
    width: 100%;
    padding: 5px;
    border-color: lightgray;
    padding: 15px;
    margin: 15px 0;
    border-style: solid;
}

textarea {
    display: block;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 20;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-color: lightgray;
}

select {
    display: block;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 20;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border-color: lightgray;
}

button {
    text-align: center;
    font-size: 20;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button.in-form {
    width: 100%;
}

.dark-button {
    color: white;
    background-color: black;
}

form p {
    text-align: center;
    color: oklch(37.3% .034 259.733);
}